
* {
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;	
}

body {
	height: 100%;
	font-family: 'PFBeauSansPro-Regular', Arial;
}

ul, li {
	list-style: none;
	margin:0;
	padding:0;
}


@import 'all/bootstrap/less/bootstrap.less';
@import "all/normalize.less"; 
@import "all/mixins.less";
@import "all/variables.less"; 
@import "all/fonts.less"; 
@import "all/header.less"; 
@import "all/footer.less"; 
@import "all/input.less";  
@import "all/btn.less";    
