
* {
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;	
}

body {
	height: 100%;
	font-family: 'PFBeauSansPro-Regular', Arial;
}

ul, li {
	list-style: none;
	margin:0;
	padding:0;
}


// .sticky {
//     position: -webkit-sticky;
//     position: sticky;
//     top: 0;
// }

//@import 'mob/bootstrap/less/bootstrap.less';
@import "mob/mixins.less";
@import "mob/variables.less";
@import "mob/link.less";
@import "mob/slick.less";
@import "mob/fonts.less";
@import "mob/header.less"; 
@import "mob/footer.less";
@import "mob/input.less";
@import "mob/textarea.less";
@import "mob/btn.less";
@import "mob/title.less";
@import "mob/nav-menu.less";
@import "mob/header-light.less";
@import "mob/mood-office.less";
@import "mob/your-office.less";
@import "mob/profile.less";
@import "mob/slider-concur";
@import "mob/slider-services";
@import "mob/slider-news";
@import "mob/date-block";
@import "mob/birthdays";
@import "mob/routes";
@import "mob/food";
@import "mob/advertising";