.header {
	&__wrap {
		min-height: 90px;
		display: flex;
		align-items: center;
		justify-content:space-between;
		margin-bottom: 5px;
	}

	&__title {
		font-family: 'PFBeauSansPro-Bold';
		font-size: 16px;
		text-transform: uppercase;
	}
}