.order-way {
	position: relative;	
	padding: 30px 10px;
	box-sizing: border-box;
	height: auto;
	.clearfix;

	&__wrap {
		position: relative;	
		min-height: 40px;
	}

	&__road {
		position: relative;	
		width: 100%;	
		display: flex;
		justify-content: space-between;
		.clearfix;
		&-item {
			position: relative;	
			flex: 1;
			.clearfix;
			
			&:after {
				content: '';
				position: absolute;	
				top: 8px;	
				width: 100%;	
				height: 3px;
				background-color: #e0e4e7;	
			}
			
			&:first-child,
			&:last-child {
				.order-way__point {
					border: 8px solid @blue;
				}
			}

			&:first-child {
				&:after {
					width: 50%;	
					left: 50%;
				}
			}

			&:last-child {
				&:after {
					width: 50%;	
					right: 50%;
				}
			}

		}
	}

	&__point {
		position: relative;	
		background-color: #fff;
		width: 20px;	
		height: 20px;	
        border-radius: 	50%;
        border: 4px solid @orange;
        color: 	#000;
        margin: 0 auto;
        margin-bottom: 10px;
        z-index: 100;
        
        &_start {
        	left: -8px;	
        }

        &_end {
        	right: -8px;	
        }


        &_middle {
			border: 4px solid @orange;
			color: 	@gray;
			
			.order-way__text {
				// top: 25px;
			}
		}
	}

	&__text {
		text-align: center;	
		font-family: 'PFBeauSansPro-Regular';
		font-size: 14px;	
		position: relative;
		margin: 0 auto;
		padding: 0 5px;
		max-width: 200px;
		overflow: hidden;
		text-overflow:	ellipsis;
	}


} 