.pagination {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 70px;
	
	&__wrap {
		display: flex;
	}

	&__btn {
		width: 35px;
		height: 35px;
		line-height: 33px;
		color: @blue;
		text-align: center;
		font-size: 20px;
	}

	&__list {
		display: flex;
	}

	&__elem {
		margin: 0 5px;
		
		&.active {
			.pagination__link {
				background-color: @blue;
				border: 1px solid @blue;
				color: #fff;
				cursor: default;
			}	
		}

		&_ellipsis {
			.pagination__link {
				border: 0px;
				width: @sp;
				cursor: default;
				
				&:hover {
					background-color: transparent;
				}
			}
		}
	}

	&__link {
		display: inline-block;
		width: 35px;
		height: 35px;
		line-height: 33px;
		border: 1px solid @gray-border-table;
		text-align: center;
		color: @gray;
		
		&:hover {
			background-color: @bg;
		}
	}
}