.popup {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: -2000px;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index:9000;
	
	&.active {
		top: 0;
	}
	
	&__wrap {
		position: absolute;
		padding-top: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		
		&_width-700 {
			width: 700px;
		}
	}

	&__close {
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 20px;
		color: @gray;
	}

	&__title {
		text-align: center;
		font-size: 24px;
		font-family: 'PFBeauSansPro-Bold';
		margin-bottom: @sp;
		text-transform: uppercase;
		
		&-small {
			font-size: 16px;
			color: @gray;
			text-align: center;
			font-family: 'PFBeauSansPro-Regular';
			margin-bottom: @sp;
		}
	}

	&__btn {
		display: inline-block;
		text-align: center;
		font-size: 14px;
		font-family: 'PFBeauSansPro-Bold';
		margin-bottom: @sp;
		text-transform: uppercase;	
		background-color: @blue;
		color: #fff;
		padding: 12px @sp;
		margin: 0 @sp/3 @sp;
		
			&-wrap_center {
				text-align: center;
				margin-bottom: @sp;
			}
		}
}