.table-thanks {


	&__first-td {
		span {
			color: #fff;
			font-size: 30px;
			padding: 0 25px;
		}


	}

	&__number {
		float: left;
		color: #fff;
		font-family: 'PFBeauSansPro-Bold';
		font-size: 36px;
		margin-right: 10px;
		line-height: 1;
		
	}

	&__text {
		padding-top: 3px;
		float: left;
		color: #fff;
		font-family: 'PFBeauSansPro-Regular';
		font-size: 13px;
		margin-right: 45px;
	}
}